:root {
  --light: (rgb(66, 126, 58));
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 8px;
}

body {
  background-color: rgb(238, 238, 227);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body .header {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  background-color: rgb(66, 126, 58);
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header h1 {
  display: flex;
  font-size: 16px;
}

.header nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section1 {
  display: flex;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section1 h2 {
  text-align: center;
  color: white;
}

.section1 img {
  width: 300px;
  height: 300px;
  border-radius: 155px;
  border: 2px solid rgb(66, 126, 58);
  padding: 20px;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: rgb(66, 126, 58);
  color: white;
}

.section2 h1 {
  text-align: center;
  font-size: 32px;
  color: white;
}

article {
  text-align: center;
  font-size: 32px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cards img {
  margin: 10px;
  max-height: 300px;
  max-width: 300px;
  border: black, 4px;
}

.cards img:hover {
  opacity: 25%;
  transition: 1.5s;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: rgb(66, 126, 58);
  color: white;
}

.footer h1 {
  text-align: center;
  font-size: 32px;
  color: white;
}

.footer nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 992px) {
  head {
    background-color: blanchedalmond;
  }
  body {
    background-color: blanchedalmond;
  }
  footer {
    background-color: blanchedalmond;
  }
}

@media screen and (max-width: 768px) {
  head {
    background-color: blanchedalmond;
  }
  body {
    background-color: blanchedalmond;
  }
  footer {
    background-color: blanchedalmond;
  }
}

@media screen and (max-width: 576px) {
  head {
    background-color: blanchedalmond;
  }
  body {
    background-color: blanchedalmond;
  }
  footer {
    background-color: blanchedalmond;
  }
}
